@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.wrapper {
    width: 100%;

}

.wrapper {
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

button {
    background-color: transparent;
    color: inherit;
    border: none;
}

/* HEADER - START */

.header {
    position: relative;
    -webkit-box-shadow: 1px 34px 37px 15px rgba(34, 60, 80, 0.29);
    -moz-box-shadow: 1px 34px 37px 15px rgba(34, 60, 80, 0.29);
    box-shadow: 1px 34px 37px 15px rgba(34, 60, 80, 0.29);
    padding-bottom: 1px;
}


.header-row {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-icons {
    display: flex;
    align-items: center;
}

.links:not(:last-child) {
    margin-right: 32px;
}

.icon-1 path {
    transition: all 0.2s ease;
}

.icon-1 :hover path {
    fill: orange;
}

.header-logo {
    margin-left: 30px;
}

.header-icons {
    margin-right: 30px;
}

.links {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #5d5c5c;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.header__menu-button {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #5d5c5c;
    text-transform: uppercase;
    transition: all 0.2s ease;
}


.header__menu-button:hover {
    color: orange;
}

.header-close {
    display: none;
}

.header__menu-button path {
    transition: all 0.2s ease;
}

.header__menu-button:hover path {
    fill: orange;
}

.links:hover {
    color: orange;
}

.icon-1:not(:last-child) {
    margin-right: 36px;
    display: flex;
    align-items: center;
}

.header-menu {
    color: gray;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 24px;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    height: 100vh;
    width: 25%;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-weight: 300;
}

.header-menu.active {
    transform: translateX(0);
}

.header__nav-popup {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: white;
    transform: translateY(-130%);
    transition: all 0.4s ease-in;
}

.header__nav-popup.active {
    transform: translateY(0);
}

.header-close.active {
    display: block;
}

.header__menu-button.active {
    display: none;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-close path {
    transition: all 0.2s ease;
}

.header-close:hover path {
    fill: orange;
}

.header__nav-link {
    font-size: 20px;
    line-height: 20px;
    padding: 45px 20px 40px;
    text-transform: uppercase;
    font-weight: 300;
    transition: color 0.15s;
}

.header__nav-link:hover {
    color: orange;
    border-bottom: 2px solid orange;
}

.header__nav-link.active {
    color: orange;
    border-bottom: 2px solid orange;
}

.header__nav-popup-title {
    width: 100%;
    height: 12%;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav-popup-subtitle {
    padding-left: 40px;
    padding-top: 40px;
}

.popup__left {
    width: 30%;
    height: 100%;
}

.popup__center {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    text-align: left;
    padding-top: 40px;
    padding-left: 60px;
}

.popup__center2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: left;

    padding-left: 60px;
}

.center-btn {
    text-align: left;
    height: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.2s ease-in;
}

.center-btn:hover {
    padding-left: 20px;
    color: orange;
}

.header__nav-popup-2 {
    color: #393939;
    padding-top: 10px;
    padding-left: 40px;
    font-weight: 300;
}

.popup-3 {
    padding-left: 40px;
    margin-top: 20px;
}



.btn2 {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.www {
    margin-top: 20px;
}

.tomonlar {
    display: flex;
    align-items: center;
}

.btn {
    border: 2px solid;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: orange;
    color: white;
    border-color: orange;
}

/* HEADER - END */

/* BANNER - START */

.main{
    padding-bottom: 60px;
}

.banner-row {
    background-image: url(./images/b.jpg);
    height: 100vh;
    background-size: cover;
}

.text-1 {
    padding-left: 100px;
    padding-top: 90px;
    max-width: 280px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-weight: 200;
    z-index: 3;
    color: #504f4f;
}

.text-2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 100px;
    max-width: 380px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    z-index: 3;
    display: block;
    text-transform: none;
    font-size: 40px;
    line-height: 46px;
    margin-top: 5px;
}

/* BANNER - END */

/* BANNER2 - START */

.banner2 {
    padding: 20px;
}

.banner2-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left__1 {
    padding-top: 40px;
    padding-left: 20px;
    font-size: 38px;
    line-height: 32px;
    margin-right: 20px;
    font-family: Circe, Arial, sans-serif;
    color: #2B2B2B;
    font-weight: normal;
    padding-bottom: 20px;
}

.left__2 {
    padding-left: 20px;
    font-size: 20px;
    line-height: 32px;
    margin-right: 20px;
    font-family: Circe, Arial, sans-serif;
    color: #2B2B2B;
    font-weight: normal;
}

/* BANNER2 - END */

/* BANNER3 - START */

.banner3 {
    padding-top: 20px;
    padding-left: 30px;
}

.banner__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.top__left {
    line-height: 26px;
    font-family: Circe, Arial, sans-serif;
    color: #2B2B2B;
    font-weight: normal;
    font-size: 38px;
    line-height: 32px;
    margin-right: 20px;
}

.top__right {
    margin-right: 20px;
    text-align: right;
    font-size: 14px;
    line-height: 16px;
    font-family: Circe, Arial, sans-serif;
    color: #2B2B2B;
    font-weight: normal;
}


.boxx-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
    padding-right: 20px;
}

.boxx-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 20px;
    margin-bottom: 60px;
}

.box-1 {
    background-image: url(./images/1.jpg);
    background-size: cover;
    width: 32%;
    min-height: 100%;
    padding: 60px 65px;
}

.box-2 {
    background-image: url(./images/2.jpg);
    background-size: cover;
    width: 32%;
    min-height: 100%;
    padding: 60px 65px;
}

.box-3 {
    background-image: url(./images/3.jpg);
    background-size: cover;
    width: 32%;
    min-height: 100%;
    padding: 60px 65px;
}

.box-4 {
    background-image: url(./images/6.jpg);
    background-size: cover;
    width: 32%;
    min-height: 100%;
    padding: 60px 65px;
    padding-bottom: 260px;
}

.box-5 {
    background-image: url(./images/5.jpg);
    background-size: cover;
    width: 32%;
    min-height: 100%;
    padding: 60px 65px;
}

.box-6 {
    background-image: url(./images/4.jpg);
    background-size: cover;
    width: 32%;
    min-height: 100%;
    padding: 60px 65px;
}

.box-link {
    display: flex;
    width: 190px;
    border: 1px solid transparent;
    transition: all 0.2s ease;
}

.box-link:not(:last-child) {
    margin-bottom: 10px;
}

.box-link:not(:first-child) {
    font-size: 16px;
    line-height: 26px;
    font-family: "Roboto", Arial, sans-serif;
    color: #2B2B2B;
    font-weight: normal
}

.box-link:hover {
    border-bottom: 1px solid black;
}


.box-link:first-child {
    font-weight: bold;
    font-size: 24px;
}

/* BANNER3 - END */

/* BANNER4 - START */

.banner__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.top__left {
    line-height: 26px;
    font-family: Circe, Arial, sans-serif;
    color: #2B2B2B;
    font-weight: normal;
    font-size: 38px;
    line-height: 32px;
    margin-left: 20px;
}

.top__right {
    margin-right: 20px;
    text-align: right;
    font-size: 14px;
    line-height: 16px;
    font-family: Circe, Arial, sans-serif;
    color: #2B2B2B;
    font-weight: normal;
}

.banner4 {
    padding-left: 30px;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 1200px;
  height: 450px;
  padding-bottom: 20px;
}

.mySwiper{
    width: 30%;
}

.Swiper{
    display: flex;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BANNER4 - END */

/* FOOTER - START */

.footer-top{
    display: flex;
    justify-content: space-between;
}

.footer-bottom{

}

.footer-top-right{
    width: 25%;
    height: 100%;
}

.footer-top-right img{
    width: 500px;
    height: 500px;
    padding-right: 100px;
}

.footer-top-left{
    width: 75%;
    height: 100%;
    padding-left: 20px;
}

.top-title{
    font-size: 40px;
    line-height: 46px;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 26px;
    font-family: Circe, Arial, sans-serif;
    color: #2B2B2B;
    font-weight: normal;
}

.top-desc{
    font-size: 22px;
    line-height: 34px;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 26px;
    font-family: Circe, Arial, sans-serif;
    color: #2B2B2B;
    font-weight: normal;
}

.top-subtitle{
    font-size: 16px;
    line-height: 30px;
    font-family: Arial, sans-serif;
    color: #575757;
    font-weight: 300;
}

.top-subtitle2{
    font-size: 16px;
    line-height: 30px;
    font-family: Arial, sans-serif;
    color: #575757;
    font-weight: 300;
}

.left-image:not(:last-child){
    margin-right: 70px;
}

.top-left__images{
    line-height: 80px;
    margin-bottom: 64px;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: 40px;
}

.bottom-left{
    width: 45%;
    height: 100%;
    display: flex;
    gap: 25px;
    padding-left: 20px;
}

.bottom-right{
    width: 45%;
    height: 100%;
    display: flex;
    gap: 25px;
    padding-left: 20px;
}

.bottom-left__logo{
    width: 25%;
}

.bottom-left_nav{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.nav-2{
    font-size: 16px;
    width: 100px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

.nav-2:hover{
    border-bottom: 1px solid black;
}

.nav-1{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 20px;
    font-family: Circe, Arial, sans-serif;
    color: #2B2B2B;
    margin-bottom: 20px;
}

.bottom-left_nav2{
    margin-top: 16px;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.bottom-left_nav3{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.nav-3{
    font-size: 12px;
    width: 100px;
    font-weight: 300;
    margin-bottom: 10px;
}

/* FOOTER - END */